@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('sidebar.css');

:root{
    --morado_principal: #6F4A8E;
    --morado_medio: #8E6BAF;
    --morado_claro: #C9B4DB;
    --morado_mas_claro: #F0E6FA;

    --blanco: #FFFFFF;
    --gris_claro: #F5F5F7;
    --brillo_suave: #EADFF2;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    position: relative;
    background-color: var(--morado_medio);
    display: flex;
}

.contenido{
    flex: 1;
    padding: 1.2rem;
    color: white;
    display: flex;
    flex-direction: column;
    color: black;

    .contenido_header{
        display: flex;
        justify-content: space-between;
        width: 100%;

        .usuario{
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
            
            svg{
                width: 30px;
                height: 30px;
                fill: white;
            }
        }
    }
    hr{ margin: 1rem 0; }
    .cita_header{
        display: flex;
        justify-content: space-between;
        width: 100%;

        .busqueda_cita{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            background-color: var(--morado_mas_claro);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            width: 20%;
            position: relative;

            .lupa{ width: 25px; height: 25px; }
            input[type="text"]{
                background-color: transparent;
                border: none;
                outline: none;
                width: 100%;
                color: black;
            }
        }
        .busqueda_cita::before{
            content: '';
            position: absolute;
            width: 100%; height: 100%;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            z-index: -1;
            border: solid var(--morado_principal);
            border-radius: 8px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }
        .busqueda_cita:focus-within::before{ opacity: 1; }
        .interac_cita{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            svg{
                width: 30px;
                height: 30px;
                fill: white;
                cursor: pointer;
            }
            .btn_nueva_cita{
                background-color: var(--morado_principal);
                color: white;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.3rem;
                transition: all 0.3s ease;
                padding: 0.6rem 1.2rem;
                border-radius: 8px;
                font-weight: 500;
                font-size: 0.9rem;
                box-shadow: 0 3px 10px rgba(111, 74, 142, 0.3);

                svg{ width: 20px; height: 20px; }
            }
            .btn_nueva_cita:hover, .btn_nueva_cita:active{ 
                background-color: var(--morado_claro);
                transform: translateY(-2px);
                box-shadow: 0 6px 16px rgba(111, 74, 142, 0.4);
            }
        }
    }
    .panel{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .panel_item{
            width: 20%;
            height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem 0;
            border-radius: 15px;
            background-color: var(--morado_principal);
            transition: all 0.3s ease-in-out;

            p{ font-size: 1.2rem; }
            span{ font-size: 4rem; font-weight: 500; }
        }
        .panel_item:hover{
            box-shadow: 0 0 10px var(--morado_mas_claro);
            transform: translateY(-5px);
        }
        .horarios{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem 0;
            border-radius: 15px;

            p{ font-size: 1.2rem; }

            .div_horarios{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span{ font-size: 1.1rem; font-weight: 500; }
            }
        }
    }

    .contenedor_calendario{
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        .div_calendario{
            background-color: var(--morado_principal);
            width: 1000px;
            min-width: 500px;
            border-radius: 20px;

            header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 25px 30px 10px;

                .mes{ font-size: 1.45rem; font-weight: 500; }
                
                .iconos{
                    display: flex;

                    svg{
                        width: 40px;
                        height: 40px;
                        padding: 0.3rem;
                        text-align: center;
                        line-height: 38px;
                        border-radius: 50%;
                        cursor: pointer;
                        fill: white;
                    }
                    svg:hover{ background-color: var(--morado_medio); }
                    svg:first-child{ margin-right: 10px };
                    svg:last-child{ margin-left: 10px };
                }
            }
            .calendario{
                padding: 1rem;
                text-align: center;
                
                ul{
                    display: flex;
                    flex-wrap: wrap;

                    li{ width: calc(100% / 7); position: relative; }
                }
                .semanas li{ font-weight: 500; }
                .dias{
                    margin-bottom: 1rem;

                    li{ 
                        margin: 1.2rem 0;
                        cursor: pointer;
                        z-index: 1; 
                    }
                    .inactivo{ color: #aaa; }
                }
            }
        }
        .div_calendario .dias li::before{
            position: absolute;
            content: '';
            height: 40px;
            width: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -1;
            transition: background-color 0.3s ease;
        }
        .dias li:hover:not(.inactivo)::before, .dias li.activo::before{
            background-color: var(--morado_medio);
        }
        .dias li.cita::after{
            position: absolute;
            padding: 0.5rem 0;
            content: '';
            height: 180%;
            width: 30%;
            left: 50%; top: 50%;
            border-radius: 20%;
            border-bottom: solid var(--morado_mas_claro);
            background-color: transparent;
            transform: translate(-50%, -50%);
        }
    }
}

.overlay{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

    .form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .div_form{
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 2rem 1rem;
            gap: 1.5rem;
            background-color: var(--morado_principal);
            box-shadow: 0 2px 10px var(--morado_claro);

            h3{ text-align: center; font-size: 2rem; }
            .div_datos{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.8rem;
                width: 100%;
                padding: 0 1.5rem;

                .dato{
                    width: 100%;

                    p{
                        font-size: 1.1rem;
                        margin-bottom: 0.5rem;
                    }
                    .estado{
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        border-radius: 5px;
                        background-color: white;
                        color: #aaa;

                        .info_estado{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0.5rem 0.8rem;

                            p{
                                color: gray;
                                font-size: 0.9rem;
                                margin-bottom: 0;
                            }
                            .svg_select{
                                fill: var(--morado_principal);
                                width: 25px;
                                height: 25px;
                                transition: transform 0.3s ease-in-out;
                            }
                            .svg_select.activo{ transform: rotate(180deg); }
                        }
                        .div_estados{
                            display: none;
                            flex-direction: column;
                            position: absolute;
                            top: 110%;
                            width: 100%;
                            border-radius: 5px;
                            background-color: white;
                            color: #aaa;
                            z-index: 1001;
                            /* background-color: red; */

                            p{
                                padding: 0.5rem 0.8rem;
                                color: gray;
                                font-size: 0.9rem;
                                margin-bottom: 0;
                            }
                            p:hover{
                                background-color: var(--morado_claro);
                                color: white;
                            }
                        }
                    }
                    input{
                        position: relative;
                        width: 100%;
                        padding: 0.5rem 0.8rem;
                        border-radius: 5px;
                        border: solid transparent;
                        outline: none;
                        color: black;
                        font-size: 0.9rem;
                        transition: border-color 0.3s ease-in-out;
                        background-color: white;
                    }
                    input:focus{ border-color: var(--morado_claro); }
                    input::placeholder{ color: gray; }
                }
                .juntos{
                    display: flex;
                    gap: 1rem;
                    width: 100%;
                }
                .nom_edad .dato:nth-child(2){ width: 60%; }
                .estado{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    border-radius: 5px;
                    background-color: white;
                    color: #aaa;
                    user-select: none;

                    .info_esp{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0.5rem 0.8rem;

                        p{
                            color: gray;
                            font-size: 0.9rem;
                            margin-bottom: 0;
                        }
                        svg{
                            fill: var(--morado_principal);
                            width: 25px;
                            height: 25px;
                        }
                    }
                    .div_esp{
                        display: none;
                        flex-direction: column;
                        position: absolute;
                        top: 110%;
                        width: 100%;
                        border-radius: 5px;
                        background-color: white;
                        color: #aaa;
                        z-index: 1001;
                        /* background-color: red; */

                        p{
                            padding: 0.5rem 0.8rem;
                            color: gray;
                            font-size: 0.9rem;
                            margin-bottom: 0;
                        }
                        p:hover{
                            background-color: var(--morado_claro);
                            color: white;
                        }
                    }
                }
            }
            .agregar_cita{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 1rem;

                button{
                    padding: 0.8rem 1.5rem;
                    border: none;
                    border-radius: 8px;
                    /* width: 20%; */
                    cursor: pointer;
                    font-size: 0.9rem;
                    background-color: var(--morado_medio);
                    transition: all 0.2s ease-in-out;
                }
                button:hover{
                    transform: translateY(-3px);
                    box-shadow: 0 0 5px var(--morado_claro);
                }
            }
            .cerrar{
                width: 43px;
                height: 43px;
                position: absolute;
                top: 3%; right: 2%;
                background: none;
                border: none;
                cursor: pointer;
                padding: 0.5rem;
                border-radius: 50%;
                fill: white;
                transition: background-color 0.3s ease;
            }
            .cerrar:hover{
                background-color: var(--morado_medio);
            }
        }
    }
}