@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --morado_principal: #6F4A8E;
    --morado_medio: #8E6BAF;
    --morado_claro: #C9B4DB;

    --blanco: #FFFFFF;
    --gris_claro: #F5F5F7;
    --brillo_suave: #EADFF2;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor{
    position: relative;
    width: 850px;
    height: 550px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    overflow: hidden;
}
.contenedor .div_form{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
    z-index: 1;
    transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}
.contenedor.activo .caja_sesion::before{ left: 50%; }
.contenedor.activo .div_form{ right: 50%; }

form{ width: 100%; }

.div_form.registro{ visibility: hidden; }
.contenedor.activo .div_form.registro{ visibility: visible; }

.contenedor .titulo_form{ font-size: 2rem; color: var(--morado_principal); }
.dato{ position: relative; margin: 30px 0; }
.dato input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    background-color: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
}
.dato svg{ fill: var(--morado_medio); }
.dato input::placeholder{ color: #888; font-weight: 400; }
.dato svg{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #888;
}

.div_recuperar_contra{ margin: -15px 0 15px; }
.div_recuperar_contra a{ font-size: 0.9rem; color: #333; }
.div_recuperar_contra a:hover{ text-decoration: underline; }

.btn{
    width: 100%;
    height: 50px;
    background: var(--morado_medio);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.btn:hover{
    box-shadow: 0 0 10px rgba(116, 148, 236, 0.5);
    border: solid 2px var(--morado_medio);
    background-color: #fff;
    color: var(--morado_principal);
    /* scale: 1.02; */
}

.caja_sesion{
    position: absolute;
    width: 100%;
    height: 100%;
}
.caja_sesion::before{
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    border-radius: 150px;
    background-color: var(--morado_medio);
    z-index: 2;
    transition: 1.8s ease-in-out;
}
.caja_sesion .caja_panel{
    position: absolute;
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 1rem;
    text-align: center;
    padding: 0 1.5rem;
    transition: 0.6s ease-in-out;
}
.caja_panel.caja_left{ left: 0; transition-delay: 1.2s; }
.caja_panel.caja_right{ right: -50%; transition-delay: 0.6s; }

.contenedor.activo .caja_panel.caja_left{ left: -50%; transition-delay: 0.6s; }
.contenedor.activo .caja_panel.caja_right{ right: 0; transition-delay: 1.2s; }

.caja_sesion .caja_panel h1{ font-size: 1.5rem; }
.caja_sesion .caja_panel .btn{
    width: 160px;
    height: 46px;
    background-color: transparent;
    border: 2px solid #fff;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.caja_sesion .caja_panel .btn:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border: solid 2px var(--morado_medio);
    background-color: #fff;
    color: var(--morado_principal);
    /* scale: 1.05; */
}